[submodule "refs_normalizer"]
	path = packages/normalizer
	url = https://github.com/internetarchive/wiki-references-normalizer
[submodule "refs_extractor"]
	path = packages/extractor
	url = https://github.com/internetarchive/wiki-references-extractor
[submodule "RevisionChest"]
	path = rust/revisionchest
	url = https://github.com/internetarchive/RevisionChest
[submodule "UVAWikipediaCitationsDatabase"]
	path = upstream/uva
	url = https://github.com/scatter-llc/UVAWikipediaCitationsDatabase
